body {
	width: 100%;
	margin: 0;
}

.box-col {
	margin: 50px 8%;
}

.row {
	width: 100%;
}

.tool {
	margin: 10px 5px;
	width: 110px;
}

.tooltip_row {
	margin-left: 60px;
}

#inputEntrateuscite,
#graficiEntrateUScite,
#confrontoEntrateUscite {
	margin: 25px 0;
}

#resoconto {
	margin-left: 0px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.icona {
	background-color: black;
	border-radius: 25px;
}

.badgeAnno {
	margin-left: 50%;
}